<div class="task-list">
  <a href="#edit-task-1" class="task-button">
    <div class="task">
      <h4>Run!</h4>
      <p>1:21 PM</p>
    </div>
  </a>
  <a href="#edit-task-2" class="task-button">
    <div class="task">
      <h4>Don't Run</h4>
      <p>12:34 AM</p>
    </div>
  </a>
  <a href="#edit-task-3" class="task-button">
    <div class="task">
      <h4>Bake Brownies</h4>
      <p>12:09 PM</p>
    </div>
  </a>
</div>

<!-- Modals -->
<div id="edit-task-1" class="modal">
  <div class="modal-content">
    <a href="#" class="close-button">&times;</a>
    <form>
      <h2>Edit Task</h2>
      <input type="text" value="Run!" />
      <input type="time" value="13:21" />
      <button type="submit">Save</button>
    </form>
  </div>
</div>

<div id="edit-task-2" class="modal">
  <div class="modal-content">
    <a href="#" class="close-button">&times;</a>
    <form>
      <h2>Edit Task</h2>
      <input type="text" value="Don't Run" />
      <input type="time" value="00:34" />
      <button type="submit">Save</button>
    </form>
  </div>
</div>

<div id="edit-task-3" class="modal">
  <div class="modal-content">
    <a href="#" class="close-button">&times;</a>
    <form>
      <h2>Edit Task</h2>
      <input type="text" value="Bake Brownies" />
      <input type="time" value="12:09" />
      <button type="submit">Save</button>
    </form>
  </div>
</div>
